html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 66.25%;
  --title-color:#0d0d0d;
  --text-color:#2a2a2a;
}
/* 
alhamdulillah,got color matching way https://www.happyhues.co/.
#allahisalmighty

*/
a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p{
  margin: 0;
}

@media screen and ( max-width:700px) {
  html{
      font-size: 57.25%
  }
}
@media screen and ( max-width:500px) {
  html{
      font-size: 45.25%
  }
}