.navbar-container{
    min-height: 17vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    height: 9vh;
    margin: 0px auto;
    
}
.navbar-search{
    width: 50%;
    display: flex;
    background-color: #6AE23C;
    align-items: center;
}
.navbar-search  input{
    width: 90%;
    font-size: 2rem;
    height:5vh ;
    
}
.navbar-search--icon{
    margin-left: 3%;
    cursor: pointer;
}
.navbar-search  input::placeholder{
    font-size: 2rem;
}
.navbar-icon{
    display: flex;
    justify-content: space-evenly;
    width: 5%;
   
  
}
.navbar-icon--cart,.navbar-icon--user{
    background-color: #6AE23C;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
    
}
.navbar-icon--cart:hover,.navbar-icon--user:hover{
    background-color: #ffffff;
}



/* navbar2 */
.navbar2{
    display: flex;
    align-items: center;
    height: 8vh;
    width: 97%;
    margin: 0px auto;
    background-color: #6AE23C;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 23px;
}
.navbar2 p{
    margin: 0px;
}
.navbar2 > div{
    padding:  .5%;
}
.navbar2-category{
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 2px solid #000000;
    cursor: pointer;
    transition: color .3s ease;
}
.navbar2-category:hover p{
    color: #ffffff;
}
.navbar2-category p{
    font-size: 2rem!important;
    font-weight: 700!important;
    text-align: center;

}
.navbar2-all,.navbar2-help,.navbar2-contact{
    transition: all .3s ease;
    cursor: pointer;
}
.navbar2-all:hover,.navbar2-help:hover,.navbar2-contact:hover{
    background-color: #ffffff;
    border-radius: 23px;
    color: #6AE23C;
}
/* navabr2 end */

/* carosule */
.carosule-container{
    display: flex;
    width: 97%;
    margin: 0px auto;
}
.carosule-left{
    flex: .2;
    min-height: 70vh;
    margin-top: 1%;
    transition: all .3s ease;
}
.category-container{
    width: 85%;
    background-color: #e6efec;
    min-height: 67vh;
}
.carosule-right{
    flex: .8;
    overflow: hidden;
    margin: 1% auto;
}
.carousel-img{
    width: 500px;
}
.react-multi-carousel-list{
    height: 67vh!important;
}

/* category item css start */

.single-category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 7px;
    cursor: pointer;
    border-bottom: 1px solid #000000;
    transition: all .3s ease;
}
.single-category:hover{
    background-color:#6AE23C ;
}
@-moz-document url-prefix() { 
    .navbar-search  input {
      font-size: 2.7rem;
      border: 2px solid #6AE23C;
    }
    .navbar-search  input::placeholder{
        font-size: 2.7rem;
    }
  }