.offcanvas{
    visibility: visible!important;
    
}
.offcanvas-wrapper{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 1060;
}
.offcanvas-end{
    width: 500px!important;
}