.search-panel{
    margin-top: 9%;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}
.randebox-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}