
.oders-details-menubar{
    display: none;
}
.order-empty-msg{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.order-empty-msg p{
    font-size: 2.3rem;
    font-weight: 700;
}






/* Single-order-timeline start */

.timeline-container{
    width: 970px;
    margin: 1% auto;
    background-color: #ffffff;
    min-height: 57vh;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgb(0 0 0 / 10%) -1px 4px 20px 20px;
    border-radius: 13px;
}
.timeline-container::after{
    content: '';
    position: absolute;
    height: 87%;
    width: .5%;
    top: 7%;
    left: 50%;
    border-radius: 23px;
    background-color: red;
}

.timeline-single-content{
    width: 40%;
    align-self: flex-start;
    align-items: center;
    padding: 5px;
    margin-top: 1% ;
    margin-left: 7%;
    position: relative;
    border-radius: 13px;
    border: 3px solid #000000;

}
.timeline-single-content:nth-child(1){
    margin-top: 7%;

}
.timeline-single-content .circle{
    position: absolute;
    top: 37%;
    right: -14%;
    z-index: 1;
    background-color: white;
    border: 2px solid black;
    padding: 7px;
    border-radius: 50%;
}
.timeline-single-content:nth-child(odd) .circle{
    right: 102%!important;
    left: -13%;
}
.timeline-single-content:nth-child(odd){
    align-self: flex-end;
    margin-right: 7%;
}

.single-order-shipping-address{
    width: 90%;
    margin: 1% auto;
    box-shadow: rgb(0 0 0 / 10%) -1px 4px 20px 20px;
}


/* Single-order-timeline End */

@media screen and (max-width:700px) {
    .order-details__sidebar{
        display: none;
    }
    .oders-details-menubar{
        display: block;
    }
    .timeline-box__container{
        width: 700px;
        overflow-x:auto;
    }
}
@media screen and (max-width:500px) {

    .timeline-box__container{
        width: 500px;
        overflow-x:auto;
    }
}