.step-progressbar{
    width: 97%;
    margin: 1% auto;
}

.step-progressbar__container{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    font-size: 2rem;
    position: relative;
    color: black;
    z-index: 1;
    margin: 0px auto;
    
}
.progressbar{
    background-color: #000000;
    width: 100%;
    color: black;
    height: 1vh;
    position: absolute;
    z-index: -1;
    left: 0;
    transition: width .3s ease;

}
.fake-progressbar{
    background-color: rgb(148, 141, 141);
    width: 100%;
    color: black;
    height: 1vh;
    position: absolute;
    z-index: -3;
    left: 0;
}

.progress-logo{
    border: 5px solid rgb(161, 161, 167);
    padding: 7px 11px;
    border-radius: 50%;
    background-color: white;
}
.step-progressbar__content{

    margin-top: 1.7%;
    min-height: 53vh;
}

.modal{
    background-color: #000000a1;
}